*{
    box-sizing: border-box;
}
.main{background-color: rgb(228, 210, 210);}

.container{
    max-width: 1100px;
    margin: 0px auto;
}


.wrapper{


text-align: center;
background-color: beige;
margin-bottom: 40px;

}

.text{
    display: inline-block;
    font-size: 38px;
    margin-top: 25px;
    margin-bottom: 20px;
    
    
  
}
.navigation{
    display: inline-block;
    margin-top: 41px;
    margin-right: 196px;
    margin-left: 247px;
    
}
.icons{
    display: inline-block;
    
    
}
.link{
    padding: 0px 10px;
    font-size: 16px;
    font-weight: 400;
}
.images{
    display: inline-block;
    width: 16px;
   
}

/* блок после navigation */
.main-2block{
    background-color: lightblue;
    border: 1px solid red;
    
    
   /* display: inline-block; */
}
.aside-img{
display: inline-block;
padding-right: 100px;
}
.img-furniture{
    display: inline-block;
}
.image-furniture{
    display: inline-block;
    
}
.furniture-card{
    display: inline-block;
    border: 1px solid lime;
    
    
   
}
.wrapper-furniture{
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    vertical-align: top;
    margin-top: 103px;
    
  
    
}

h1{
    font-size: 50px;
    
}
.shop{
    margin-top: 20px;
    padding: 6px 31px;
}
/* 3block */
.main-3block{
    background-color: azure;
}
.wrapper-3block{
    display: inline-block;
    text-align: center;
    background-color: white;
}
.card-3block{
    display: inline-block;
    padding: 25px 42px 17px 48px;
    border: 1px solid black;
    margin: 8px 6px 9px;
    position: relative;
    
    
}
.card-3block-extension{
    display: inline-block;
    padding: 25px 83px 30px 83px;
    border: 1px solid black;
    margin: 15px 15px ;
    
    position: relative;
}
.image-3block{
    display: inline-block;
    height: 190px;
    width: 130px;
    border: 1px solid rgb(68, 0, 255);
    
    
}

.image-3block-extension{
    display: inline-block;
    height: 190px;
    width: 130px;
    border: 1px solid rgb(68, 0, 255);
}
.3block-ectnesion-2ndelement{
    
}

.Best-Seller{
    font-size: 40px;
    margin: 20px 0px;
}
.text-3block{
    border: 1px solid black;
    margin-top: 34px;
    margin-bottom:10px ;
    margin-right: 10px;
}
.position-images{
    display: inline-block;
}
.vectors{
    
    width: 27px;
    position: absolute;
    top: 176px;
    right: 20px;
    
}