navigaton {
    background-color:#2A3342;
}
.main-nav{
    background-color:#2A3342;
}
.container{
    max-width: 1100px;
    margin: 0px auto;
    padding: 0px 15px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 24px;
    
}
.nav__list{
    display: flex;
    column-gap: 40px;
}
.nav__link  {
    color: #BBC3CF;
}
.nav__btngroup{
    display: flex;
    column-gap: 20px;
    align-items: center;
    
  
}
/* .green-btn{
    padding: 8px 16px;
} */

.nav__btn-group{
    color: #BBC3CF;
    
}
.nav__btn-group-1{
    padding: 8px 16px;
    background-color: #22C55E;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px rgba(105, 81, 255, 0.05);
    color: white;

}
/* media screen */
@media screen and (max-width: 625px) {
    .nav__img{
        margin-bottom: 10px;
    }
    .nav{
        background-color: aquamarine;
       flex-direction: column;

    }
    .nav__btn-group-2{
        padding: 8px 16px;
    background-color: #5c6f77;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px rgba(105, 81, 255, 0.05);
    color: white;

    }
    .nav__list{
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 370px) {
    .nav__img{
        margin-bottom: 10px;
    }
    .nav{
        background-color: aquamarine;
       flex-direction: column;
       align-items: stretch;

    }
    .nav__logo{
        display: flex;
        align-self: center;
    }
    
    .nav__list{
        flex-direction: column;
       gap:  10px;
       display: block;
       
    }
    .nav__item{
        display: block;
       border: 1px solid black;
       background-color: #2A3342;
        padding: 15px;
        margin-bottom: 10px;
    }
  
   
}

/* block2.info-block{

 */
 .block2{
    background-color:#2A3342;
    padding-bottom: 200px;
 }
 .info-block-main   {
    padding-top: 48px;
 }
.info-block{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.info-block__btnheader{
    display: inline-flex;
    width: 62px;
    align-self: center;
    margin-bottom   :24px ;
    
    

    
    
}
.info-block__header{
    /* display: inline-flex;
    width: 62px;
    align-self: center;
    
    padding: 5px;
    background-color: #22C55E;
    color: white;
    border-radius: 5px;
    box-shadow: 5px;
    margin-bottom: 24px; */
    padding: 5px;
    background-color: #22C55E;
    color: white;
    border-radius: 5px;
    box-shadow: 5px;
   
}
.info-block__smallbusiness{
   font-size: 60px;
   line-height: 70px;
   max-width: 740px;
   align-self: center;
   margin-bottom: 24px;
}
.info-block__different{
    font-size: 20px;
    line-height: 30px;
    max-width: 715px;
    align-self: center;
    margin-bottom: 32px;
}
.info-block__Demo{
    margin-bottom: 64px;
    row-gap: 16px;
}
.info-block__RequestDemo{
    padding: 16px 28px;
    background-color: #22C55E;
   color: white;
   border-radius: 5px;
    box-shadow: 5px;
    margin-right: 16px;
   
}
.info-block__SignUp{
    padding: 16px;
    background-color:  #404F65;
    color: white;
    border-radius: 5px;
    box-shadow: 5px;
}
.video{
    margin-top: -200px;
}
.video-img{
    display: flex;
    justify-content: center;
    
}
.video-img__vid{
    max-width: 100%;
}

/* block3 */
.block3{
   
}
.block3__trusted{
    display: block;
    text-align: center;
    /* что тут ? */
    margin-bottom: 24px;
    margin-top: 208px;
    font-size: 16px;
    line-height: 24px;
    color:  #BBC3CF;
   
}
.block3__list{
    display: flex;
    justify-content: center;
    column-gap: 32px;
    margin-bottom: 86px;
    margin-top: 32px;
    
}
.block3__item{
    padding: 48px 39px;
    border: 1px solid grey;
    background: var(--Gray-050, #F7F8F9);
}

.block3__link{
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
   column-gap: 5px;   
   /* почему column gap а не row-gap срабатывает */
}
.block3__jiggle{
    
    align-self: center;
}
@media screen and (max-width: 1200px){
    .block3__list{
        display: flex;
        flex-direction: column;
        background-color: lightgrey;
        row-gap: 10px;
       
       
    }
    .block3__link{
        padding: 5px;
        border: 1px solid black;
        border-radius: 7px;
        display: flex;
        column-gap: 5px;
    }
    .block3__item{
        display: flex;
        justify-content: center;
        background-color: beige;
        border: 1px solid black;
        border-radius: 3px;
        box-shadow: 1px red;

    }
    .block3__Jiggle-logo{

    }
    .block3__jiggle{

    }
}

/* block4 */
.block4-main{
    background-color:#F7F8F9 ;
}
.block4{
    padding-top: 80px;
}
.numbers{
    padding: 2px;
    background-color: #22C55E;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 16px;
    
    
}
.believe{
    font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 125% */
letter-spacing: -0.96px;
margin-bottom: 16px;
}
.flex   {
    font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 150% */
}
.block4__main-part{
    display: flex;
    align-items: center;
    
    justify-content: center;
}
.block4__list{
    border: 2px solid yellow;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.block4__item{
    align-items: center;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 50%;
}
.block4__price{
    font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 125% */
letter-spacing: -0.96px;
}
.block4__ulmain{
    display: flex;
    column-gap: 24px;
}
.block4__main-part{
    column-gap: 124px;
    padding-bottom: 88px;
}
.block4__text {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    margin-bottom:8px ;
    text-align: center;
}
.nocoursive{
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    color: var(--Gray-500, #556987);
    text-align: center;
}
@media screen and (max-width:950px) {
    .block4__main-part{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    }
    .block4__images-main{
        max-width: 100%;
        margin-top: 20px;
        border: 1px solid black;
        border-radius: 10px;
        box-shadow:10px ;
    }
    
}

/* reverse */
.block4__ulmain:nth-child(even){
    display: flex;
flex-direction: row-reverse;
}
/* block5 */
.block5-main{
    display: flex;
}
.block5__list{
    display: flex;
    position: relative;
    flex-direction: column;
    z-index: 2;
}
.block5__img{
    margin-right: 139px;
}
.block5__item-Quotes{
    margin-bottom: 90px;
    padding: 5px;
    background-color: #6de79a91;
    color: #22C55E;
    border-radius: 5px;
    display: inline-flex;
    max-width: 64px;
   align-self: self-start;
}
.block5__text{
    font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 44px; /* 122.222% */
letter-spacing: -0.72px;
margin-bottom: 32px;
border: 1px solid black;


}
.dots{
    position: absolute;
    top: 74px;
    left: -37px;
    z-index: 3;
    /* вроде индекс переккрывает текст? */
}
.dots-two{
    position: absolute;
    bottom: 60px;
    z-index: 3;
    right: -26px;
}
.block5__Ceo{
    font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 32px; /* 133.333% */
}

.block5__Ceo-under{
    font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 155.556% */
}

@media screen and (max-width:950px){
    .block5-main{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;

    }
    .block5__img{
          max-width: 100%;
          margin: 0px;
    }
    .dots, .dots-two{
        padding: 0px 15px;
    }
    .ceo-class{
        margin-bottom: 10px;
    }
}

/* block6 */
.block6__left{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.block6__right-list{
    display: flex;
    gap: 10px;
}
.block6__right-btn{
    padding: 16px 28px;
    background-color: #22C55E;
    cursor: pointer;
    
    border-radius: 10px;
}
.block6__right-btn2{
    padding: 16px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}
.block6-main{
    background-color: #fff;
    padding-top: 176px;
    padding-bottom: 70px;
}
.block6__left-contact{
    padding: 7px;
    background-color: #DCFCE7;
    display: inline-flex;
    max-width: 59px;
    align-self: self-start;
    margin-bottom: 16px;
    border-radius: 4px;
    display: flex;
    
    justify-content: center;
    
}



.block6__left-item{
    color: var(--Gray-900, #2A3342);
/* display-lg/Bold */
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 125% */
letter-spacing: -0.96px;
margin-bottom: 16px;
}
.block6__left-item-text{
    color: var(--Gray-500, #556987);
/* text-xl/Medium */
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 150% */
}
/* block7 */
.block7-main{
    display: flex;
    justify-content: space-between;
}
.block7__icons{
    background-color: #22C55E;
}
.block7__contatcs{
    display: flex;
    gap: 120px;
}
.block7__item{
    display: flex   ;
    flex-direction: column;
   
}
.block7__icons{
    align-self: flex-start;
    padding: 12px;
    border-radius: 50%;
    margin-bottom: 24px;
}
.block7__media{
    display: flex;
    align-items: center;
    gap: 10px;
}
.block7__email{
    color: var(--Gray-900, #2A3342);
/* display-sm/Bold */
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 38px; /* 126.667% */
margin-bottom: 16px;
}
.block7__email-send{
    color: var(--Gray-500, #556987);
/* text-xl/Medium */
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 150% */
margin-bottom: 36px;
}

input{
    background-color: #f7f7f7;
    width: 446px;
    padding: 10px;
    border-radius: 10px;
}
.message-textarea{
    background-color: #2A3342;


}
.input-msm{
    position: relative;
    justify-content: center;
    flex-direction: column;
    position: relative;
    display: flex;
    background-color:  rgba(85, 105, 135, 0.10);
    padding: 5px 10px;
}
label{
    position: absolute;
    top: 74px;
    left: 7px;
    color: #22C55E;

}
.submit-form{    border-radius: 20px;
    background-color: green;
    padding: 16px 28px;
    margin-top: 10px;}
