nav{
    background-color: aliceblue;
}
.container{
    max-width: 1100px;
    margin: 0px auto;
}
.navigation{
    background-color: #F4F1EE;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-navigation{
    display: flex;
}
.right-navagation{
    display: flex;
}
.left-list{
    display: flex;
    column-gap: 54px;
}
.right-list{
    display: flex;
    column-gap: 54px;
}
.burger{
    background-color: transparent;
    background-color: #F4F1EE;

}
.cafena{
    background-color: transparent;
    /* padding-top: 33px; */
}
.wrapper-title{
    display: flex;
   padding-top: 89px;
   padding-bottom: 70px;
   justify-content: space-between;
}
.inner-wrapper-title{
    
}
h5{
    font-size: 55px;
    line-height: 70px;
    letter-spacing: 2px;
    margin-bottom: 33px;
    /* max-width: 646px; */
}
p{
    margin-bottom: 55px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
    max-width: 500px;
}
.link-explore-more, .link-read-more{
    border: 1px solid rgb(255, 29, 29);
    padding:  11px 37px;
    
   
    

}
.link-explore-more{
background-color: #232020;
color: white;
}
.link-read-more{
    background-color: #F4F1EE;
    color: black;
    
}
.read-more, .explore-more{
    /* margin-right: 20px; */
    
}
.buttons{
    display: flex;
    column-gap: 20px;
}

/* 3img */
.cup{
    position: relative;
}
.inner-contru{
    position: absolute;
}
.curabtur{
    position: absolute;
    bottom: 20px;
    color: white;
}
.number{
    bottom: 10px;
}